/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-129307177-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129307177-1');

%body
  
.container
  %video#myVideo{:autoplay => "", :loop => "", :muted => ""}
    %source{:src => "./images/bg_pink_1.mp4", :type => "video/mp4"}
  %h1.top-left Johanna Andén
  .center-item
    %img{:alt => "Full stack web developer", :src => "./images/FS_WD.png"}/
  
#grad1.container-profile
  %img.profile{:src => "./images/johanna.JPG"}/
  .text-box
    %h2 Hello!
    %p My name is Johanna Andén, I am a student at Craft Academy where I study the course Full stack web developer.
    %br/ 
    %p When I'm not studying, I work at the TV and broadband provider Sappa in Gothenburg.
    %br/
          
.container-images
  -data.projects.each do |project|
    .imgbox
      %img(src="#{project[:image]}" alt="no image")/
      %h2="#{project[:name]}"
      %h3="#{project[:description]}"
      %a(href="#{project[:github]}")
        %p Github repository

.container-curriculum-vitae
  %button#myBtn CURRUCULUM VITAE
  #myModal.modal
    .modal-content
      %span.close ×

      %h1 Work experience
      -data.work.each do |project|
        %img(src="#{project[:image]}" alt="no image")/
        %p="#{project[:period]}"
        %p="#{project[:place]}"
        %p="#{project[:description]}"
        %br/
      
      %h1 Education
      -data.education.each do |project|
        %img(src="#{project[:image]}" alt="no image")/
        %p="#{project[:period]}"
        %p="#{project[:place]}"
        %p="#{project[:description]}"
        %br/

%script{:src => "./javascripts/cv.js"}

= partial 'partials/footer'